

.content{
    grid-area:content;
    margin-right: 15px;
    background-color:rgb(65, 179, 199);
    }
    
    .content img{
        max-width: 101.3%;
    }
  
    .avatar img{
      width:350px;
    }
.avatar{
    padding-left: 20px;
}