.dialogs{
display:grid;
grid-template-columns: 2fr 10fr;
font-size: 25px;
font-weight:500; 
}

.itemDialogs {
    padding-left: 30px;
}

.itemDialogs .active{
color:rgb(6, 6, 66);
font-size: 28px;
}
.messages{
    padding-left: 20px;
}
